#Copyright 2024 CISPA Helmholtz Center for Information Security gGmbH
#SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_OPENHWGROUP_CVA6
	bool

config SOC_FAMILY
	default "openhwgroup_cva6" if SOC_FAMILY_OPENHWGROUP_CVA6

rsource "*/Kconfig.soc"
